{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<header>
    <div class="has-text-centered py-2">
        <h1 class="title">BibliGame</h1>
        <h2 class="subtitle">Votre bibliothèque dédié aux jeux video</h2>
    </div>
    <div class="picture">

    </div>
</header>


{% endblock %}
