{% extends 'member.html.twig' %}

{% block title %}Nouvelle console{% endblock %}

{% block body %}
    <h3 class="title is-3 has-text-centered">Nouvelle console</h3>

    <div>
            {{ include('console/_form.html.twig') }}
    </div>

    <a href="{{ path('app_console_index') }}">back to list</a>
{% endblock %}
