{% extends 'member.html.twig' %}

{% block title %}Modifier mes informations{% endblock %}

{% block body %}
    <h3 class="title is-3 has-text-centered">Modifier mes informations</h3>
    <div class="is-flex is-flex-direction-column px-2 is-flex-mobile">
        <div>
    {{ include('account/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
        </div>
    </div>
    <div class="px-2 my-2">
        <p class="has-text-weight-medium">Vous souhaitez supprimer votre compte ?</p>
        <a class="button is-danger is-rounded my-2" href="#">Cliquez ici</a>
    </div>
{% endblock %}
